.container {
  background-color: #30475e;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 0.5rem;
}

.container select,
.container input {
  width: 100%;
}
