.container {
  height: 35rem;
  width: 30rem;
  background: #214151;
  border-radius: 10px;
}

.container > h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f8dc81;
  margin: 2rem;
}

.container,
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.inputs {
  height: 25rem;
  border-radius: 15px;
  background: #214151;
  box-shadow: 33px 33px 65px #1c3745, -33px -33px 65px #264b5d;
  align-content: space-around;
}

select,
input {
  padding: 0.5rem;
  width: 100%;
  margin: 2rem 0;
}

select {
  height: 1.5rem;
}

input {
  height: 4rem;
  font-size: 3rem;
}
