* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a2d0c1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #eff7e1;
  font-size: 0.5rem;
}
